@use 'sass:map';

@function createPalette($hue, $saturation, $lightness) {
	$hueSteps: (
		'primary': 0,
		'secondary': 180
	);

	$lightnessValues: (
		'lighter': 98%,
		'light': 90%,
		'dark': 10%,
		'darker': 18%
	);

	$palette: ();

	@each $name, $newHue in $hueSteps {
		$palette: map.merge(
			$palette,
			(
				$name: (
					$hue + $newHue % 360,
					$saturation,
					$lightness
				)
			)
		);
	}

	@each $name, $newLightness in $lightnessValues {
		$palette: map.merge(
			$palette,
			(
				$name: (
					$hue,
					$saturation,
					$newLightness
				)
			)
		);
	}

	@return $palette;
}
