@use 'sass:color';
@use 'sass:map';

@function createPalette($hue, $saturation, $lightness) {
	$hueSteps: (
		'primary': 0,
		'secondary': 30,
		'tertiary': 60
	);

	$palette: ();

	@each $name, $newHue in $hueSteps {
		$palette: map.merge(
			$palette,
			(
				$name: (
					$hue + $newHue % 360,
					$saturation,
					$lightness
				)
			)
		);
	}

	$lightnessValues: (
		'lighter': 98%,
		'light': 90%,
		'dark': 10%,
		'darker': 18%
	);

	@each $name, $newLightness in $lightnessValues {
		$palette: map.merge(
			$palette,
			(
				$name: (
					$hue,
					$saturation,
					$newLightness
				)
			)
		);
	}

	@return $palette;
}

$palette: createPalette(20, 90%, 45%);

:root {
	--color-primary: #{map.get($palette, 'primary')};
	--color-secondary: #{map.get($palette, 'secondary')};
	--color-tertiary: #{map.get($palette, 'tertiary')};
	--color-darker: #{map.get($palette, 'darker')};
	--color-dark: #{map.get($palette, 'dark')};
	--color-light: #{map.get($palette, 'light')};
	--color-lighter: #{map.get($palette, 'lighter')};
	--gradient: linear-gradient(
		180deg,
		hsl(var(--color-light)),
		hsl(var(--color-lighter))
	);
	--box-shadow: 0 2px 6px hsla(var(--color--light) / 10%),
		0 8px 24px rgba(var(--gray-dark), 10%),
		0 16px 32px rgba(var(--gray-dark), 10%);
}

:root {
	scroll-behavior: smooth;
	--bounce-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);

	@media (prefers-reduced-motion) {
		scroll-behavior: auto;
	}
}

@font-face {
	font-family: 'Yeseva One';
	src: url('/fonts/yeseva-one.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Josefin Sans';
	src: url('/fonts/josefin-sans.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-heading: 'Yeseva One', serif;
	--font-body: 'Josefin Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

:root {
	background-color: hsl(var(--color-lighter));
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-body);
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--gradient) no-repeat;
	background-size: 100% 100vh;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty;
	color: hsl(var(--color-darker));
	font-size: 20px;
	line-height: 1.7;
}
#content {
	flex: 1 0 auto;
}
main {
	--max-width: 720px;
	--gap: 1em;
	--column-width: calc(var(--max-width) / 2 - var(--gap));
	display: grid;
	margin: auto;
	grid-template-columns: 1fr var(--column-width) var(--column-width) 1fr;
	max-width: 100%;
}

main > * {
	grid-column: 2 / 4;
	margin-block-start: 1em;
	margin-block-end: 0;
}

main .width-full {
	grid-column: 1 / -1;
}

section {
	padding-block: 2em;
}

@media (max-width: 720px) {
	main {
		--max-width: calc(calc(100% - 1em));

		.width-full {
			padding-inline: 1em;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	margin: 0 0 0.5rem 0;
	color: hsl(var(--color-darker));
	line-height: 1em;
}
/* major third modular scale */
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
@media (max-width: 720px) {
	/* minor second modular scale */
	h1 {
		font-size: 1.802em;
	}

	h2 {
		font-size: 1.604em;
	}

	h3 {
		font-size: 1.424em;
	}

	h4 {
		font-size: 1.266em;
	}

	h5 {
		font-size: 1.125em;
	}
}
strong,
b {
	font-weight: 700;
}

a {
	color: hsl(var(--color-primary));
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.2em;
	transition: color 0.2s ease-in-out,
		text-underline-offset 0.1s var(--bounce-transition);
}

a:hover,
a:focus {
	color: rgb(var(--gray));
	text-underline-offset: 0.3em;
}

a:focus {
	outline: 1px solid hsl(var(--color-primary));
}

@keyframes bounce-underline {
	0% {
		text-underline-offset: 0.4em;
	}
	50% {
		text-underline-offset: 0.6em;
	}
	100% {
		text-underline-offset: 0.4em;
	}
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: hsla(var(--color-primary), 20%);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid hsl(var(--color-primary));
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid hsl(var(--color-secondary));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.screen-reader-text {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.animate-float {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	@media (prefers-reduced-motion) {
		animation: unset;
	}
}
@keyframes floating {
	from {
		transform: translate(0, 0);
	}
	65% {
		transform: translate(0, -0.25em);
	}
	to {
		transform: translate(0, 0);
	}
}

.hover-grow {
	transition: transform 0.2s ease-in-out;

	&:hover,
	&:focus {
		transform: scale(1.1);
	}

	@media (prefers-reduced-motion) {
		transition: unset;
	}
}
