---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Oops! There's no page here."
	description="404: Page not found."
	heroImage="/404.jpg"
	heroImageAlt="404"
>
	<p>
		Sorry about that! Please visit the <a href="/">home page</a> to get back to where you were going.
	</p>
</Layout>
