---
import Layout from '../layouts/Page.astro';
import { EXPERIENCE_START_YEAR } from '../consts';
const yearsOfExperience = new Date().getFullYear() - EXPERIENCE_START_YEAR;
---

<Layout
	title="About Me"
	description="Hello there, I'm Jacob Lodes, a full-stack developer."
	pubDate={new Date('January 13 2024')}
	heroImage="/photo-of-me.png"
	heroImageAlt="A photo of Jacob Lodes"
>
	<p>Hello there, I'm Jacob Lodes, your go-to full-stack developer navigating the ever-evolving landscape of web development. I'm currently steering the development ship for Earl Enterprises and Virtual Dining Concepts, and I get to play a significant role in bringing to life some of beloved food entertainment brands like MrBeast Burger, Planet Hollywood, Buca di Beppo, Chicken Guy!, NASCAR Refuel, and Barstool Sports' Pardon My Cheesesteak.</p>
	<p>When it comes to coding, my expertise shines in PHP and JavaScript, the dynamic duo responsible for crafting cutting-edge WordPress plugins and themes. I've also ventured into the fascinating territories of crafting Discord Bots and Chrome Plugins, always up for a challenge and eager to expand my skill set.</p>
	<p>With {yearsOfExperience} years in the professional game and a Bachelor's degree in Digital Media: Web Design from the University of Central Florida, I've found my niche in pushing boundaries in this ever-changing field. As a dedicated Web Manager, my role goes beyond steering the digital ship for these big-name brands. It's about ensuring every online interaction is infused with a touch of innovation and excellence.</p>
	<p>Beyond the writing code, my interests include a love for dinosaurs and fossil collecting. And when I'm not immersed in the digital world, you might catch me sipping a tropical Tiki drink. Let's make the web a cooler, more engaging place together!</p>
</Layout>
