---
const today = new Date()
---

<footer>
	&copy; {today.getFullYear()} Jacob Lodes. All rights reserved.

	<p>
		<a href='/attributions'>Attributions</a>
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--gradient) no-repeat;
		color: hsl(var(--color-dark));
		text-align: center;
	}
</style>
