---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<a class="skip-link" href="#content">Skip to main content</a>
<style>
	.skip-link {
		position: absolute;
		top: -1000px;
		left: -1000px;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	.skip-link:focus {
		position: fixed;
		top: 1em;
		left: 1em;
		width: auto;
		height: auto;
		overflow: visible;
		z-index: 100;
		background: hsl(var(--color-primary));
		color: hsl(var(--color-lighter));
		padding: 1em;
	}
</style>

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background:hsl(var(--color-lighter));
		box-shadow: 0 2px 8px  hsla(var(--color-darker), 0.5);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 720px;
		margin: 0 auto;
	}
	nav a {
		padding: 1em 0.5em;
		color: hsl(var(--color-darker));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: hsl(var(--color-primary));
	}
</style>
