---
import MouseFollowCanvas from "./MouseFollowCanvas.astro";
---
<main id="content">
	<slot />
	<a id="back-to-top" href="#content" class="hidden hover-grow">
		<img src="/up-arrow.svg" class="animate-float" alt="Scroll to top" />
	</a>
	<MouseFollowCanvas />
</main>

<style lang="scss">
	#content {
		margin-bottom: -48px;
	}
	#back-to-top {
		position: sticky;
		bottom: 1em;
		left: calc(calc(100% - 48px) - 1em);
		height: 48px;
		width: 48px;
		text-align: right;
		z-index: 2;
		transition: opacity 0.25s ease-in-out;

		img {
			transform: translateY(calc(-100% - 1em));
			background-color: rgb(255 255 255 / 50%);
			border-radius: 50%;
		}

		&.hidden {
			opacity: 0;
		}
	}
</style>
<script>
let backToTopLink = document.getElementById('back-to-top');

function handleScroll() {	
	if (!backToTopLink) return
	if (window.scrollY > 250) {
		backToTopLink.classList.remove('hidden');
	} else {
		backToTopLink.classList.add('hidden');
	}
}

window.addEventListener('scroll', handleScroll);
</script>
